<footer>
  <div class = "container">
    <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">Cafe Flora</h5>
          <p>Our cafe is full of beautiful flowers and delightful aromas</p>
          <p>Our menu is chock full of delicious foods.  Try them all!</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="https://gitlab.com/dbutcher42/cafe-flora-angular" target = "_blank">PROJECTS</a>
              </p>
            </li>
            <li>
              <p>
                <a href="https://gitlab.com/dbutcher42/cafe-flora-angular/-/graphs/master" target = "_blank">ABOUT US</a>
              </p>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home"></i> 123 Main New York, NY 10012
              </p>
            </li>
            <li>
              <p>
                <i class="far fa-envelope"></i> info@example.com
              </p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone"></i> + 333 555 2167
              </p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->
        <!-- <hr class="clearfix w-100 d-md-none"> -->
        <!-- Grid column -->
        <!-- <div class="col-md-2 col-lg-2 text-center mx-auto my-4"> -->
          <!-- Social buttons -->
          <!-- <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5> -->
          <!-- Facebook -->
          <!-- <a mdbBtn floating="true" type="button" color="btn-fb" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a> -->
          <!-- Twitter -->
          <!-- <a type="button" mdbBtn floating="true" color="btn-tw" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a> -->
          <!-- Google +-->
          <!-- <a type="button" mdbBtn floating="true" color="btn-gplus" mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a> -->
        <!-- </div> -->
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://revature.com/" target = "_blank"> Revature</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  </div>
  <!-- <div class = "container">
    <span class = "attribution">
      An interactive learning project from <a href="https://revature.com/">Revature</a>.
      Code licensed under Cafe Flora's team. &copy; {{ today | date: 'yyyy' }}.
    </span>
  </div> -->
</footer>
