body {
  /* background-color: #98ff98; */
  background-color: #C26AE6;
}

@font-face {
    font-family: flower;
    src: url(fonts/FlowerSketches.ttf) format("opentype");
  }

.page-header {
      font-family: 'flower';
      font-size: 72px;
}

.logoutbutton {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    cursor: pointer;
}

.navbar {
 /* background-color: #CFFFE5;  */
 background-color: #C26AE6;
}

.mynavbar {
  margin-left: 50px;
}