<body>
  <br>
  <br>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <h1 id="header" class = "page-header">Cafe Flora</h1>
    <br>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mynavbar">
        <a id="home" class="nav-item nav-link" href="/home" (click)='goHome()'>Home<span class="sr-only">(current)</span></a>
        <a id="menu" class="nav-item nav-link" href="/menu" (click)='goMenu()'>Menu</a>
        <a id="cart" class="nav-item nav-link" href="/cart" (click)='goCart()'>Cart</a>
        <!-- <a class="nav-item nav-link" href="/home" (click)='goHistory()'>Order History</a> -->
        <!-- <a id="profile" class="nav-item nav-link" href="/accountProfile" (click)='goProfile()'>Account Profile</a> -->
        <button id="logout" class="nav-item nav-link logoutbutton" (click)='goLogout()'>Log Out</button>
      </div>
    </div>
  </nav>
</body>