body {
    /* background-color: #98ff98; */
    background-color: #AF88BF;
}
.menu-page {
    margin: 0 auto;
    /* background-color: burlywood; */
    background-color: #B600FF;
    padding: 70px;
    width: 50%
}

.page-title {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 400%;
    text-align: left;
    margin-left: 50px;
}

.cart-button {
    /* float: right;
    background-color: tomato; */
}

.cart-button-text {
    /* color: black; */
}

.addbutton {
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 1px 2px black;
    border-color: transparent;
    border-radius: 6px;
    margin-bottom: 10px;
    /* background: #7dc855; */
    background: #6E9900;
}

.proceed-btn {
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 1px 2px black;
    border-color: transparent;
    border-radius: 6px;
    margin-bottom: 10px;
    /* background: #7dc855; */
    background: #6E9900;
}

.rightcontainer {
    position:fixed;
    top:25px;
    left: 60%;
}