<app-customer-nav-bar></app-customer-nav-bar>
<br>
<body>
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
          <div class="container-full">
            <div class="menu-page">
              <div class="menu-item">
                <div *ngFor="let item of items" class="m-item">
                  <br>
                  <h2>
                    <!--[title]= -->{{ item.itemName }} 
                  </h2>
                    <p *ngIf="item.itemDescription">
                    <!--Description: -->{{item.itemDescription}}
                    </p>
                    <p *ngIf="item.itemCost">
                    <!--Price: -->{{item.itemCost | currency}} 
                    </p>
                    <p *ngIf="item.itemImageUrl">
                    <img src="{{item.itemImageUrl}}">
                    </p>
        
                  <!-- Can adjust the specific number of items in the cart.
                       Item added each time the button is clicked-->
                  <button id="addbutton" (click)="addToCart(item)" class="addbutton">
                    Add to Cart
                  </button>
                  <br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 rightcontainer">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div>

            </div>
            <h1 id="pagetitle" class="page-title"> Menu </h1>
            <button id = "submit1" type="submit" class="proceed-btn" (click)="gotocart()">Go to Cart</button>
            <h5>{{message}}</h5>
            <br>
        </div>
    </div>
</div>





</body>

