<div class="loginPage">
    <h1 class="Cafe">Cafe Flora</h1>
    <form class="form-position" #loginForm="ngForm" (ngSubmit)="loggingIn()">
        <small id="message" class="txt-danger">{{badMsg}}</small>
        <label id="greeting" class="Greetings"><h2>Hello Customer</h2></label>
        <div class="form-group">
        <label>Email address</label>
        <input id="email" type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="customer.email">
        </div>
        <div class="form-group">
        <label>Password</label>
        <input id="password" type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="customer.password">
        </div>
        <button id="submit" type="submit" class="btn btn-primary" style="background-color: #6E9900; border-color: #81CA29; color: #A8E607">Login</button>

        <div class="form-links">
            <!-- <a id="register" (click)="goRegister()" href="/register">Create new account</a> -->
            <a id="register" (click)="goRegister()" >Create new account</a>
            <br>
            <!-- <a id="forget" (click)="goForgetPassword()" href="/forget">Forgot Password?</a> -->
            <a id="forget" (click)="goForgetPassword()" >Forgot Password?</a>
        </div>
    </form>
</div>