<app-customer-nav-bar></app-customer-nav-bar>
<div class="container-fluid">

    <div class="container-md">

        <div class="cart-page">
            <!--
            <h1 id="container-heading">{{ userName }}'s Cart</h1>
            -->
            <div class="shopping-cart">

                <div class="cart-items inline-block">
                    <h1 id="cart-name">Cart</h1>
                    <table>
                        <thead>
                            <tr>
                                <td>Item</td>
                                <td></td>
                                <td>Price</td>
                                <td>Qty</td>
                                <td></td>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr class="item-row" *ngFor='let temp of orderInfo; let indexOfOrder = index'>
                                <td class="item-name">
                                    <p>{{ temp.menuItem.itemName }}</p>
                                </td>
                                <td class="item-instructions">
                                    <p>{{ temp.specialInstructions }}</p>
                                </td>
                                <td class="item-cost">
                                    <p>{{ temp.menuItem.itemCost | currency }}</p>
                                </td>
                                <td class="item-quantity">
                                    <p>{{ temp.quantity }}</p>
                                </td>
                                <td class="options"><a id="addItem{{indexOfOrder}}" (click)='addOrderItem(temp.orderItemId, temp.quantity)'>Add</a> | <a id="removeItem{{indexOfOrder}}"
                                        (click)='removeOrderItemId(temp.orderItemId, indexOfOrder)'>Remove</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div id="btn-row">
                        <a id="cont-shop-btn" class="cart-btn" (click)="goToMenu()">Continue Shopping</a>
                        <a id="clear-cart-btn" class="cart-btn" (click)="clearOrder()">Empty Cart</a>
                    </div>
                </div>

                <div class="cart-total inline-block">

                    <div id="total">
                        <p>Subtotal <span id="cart-subtotal" class="amount">{{ this.orderSubtotal | currency }}</span></p>
                        <p>Estimated Tax <span id="cart-tax" class="amount">{{ this.orderTax | currency }}</span></p>
                        <hr>
                        <h4>Total <span id="cart-total" class="amount">{{ this.orderTotal | currency }}</span></h4>
                        <hr>
                        <!-- <button id="checkout-btn" class="btn btn-success btn-shadow" -->
                        <button id="checkout-btn" class="btn proceed-btn btn-shadow"
                            (click)='goToCheckout()'>Checkout</button>
                        <br>
                        <h5>{{message}}</h5>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>