a:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey
}

::-webkit-scrollbar-thumb {
    background: #CFFFE5;
    border-radius: 8px;
}

.cart-page {
    margin: 8% auto;
    /* background-color: #c26ae6; */
    background-color: #B600FF;
    color: white;
    border-radius: 1px;
    box-shadow: 0 1px 4px black;
}

.container-fluid{
    margin-top: 3%;
    border: 1px solid blueviolet;
    height: 89vh;
    background-color: #AF88BF;
    /* background: #98ff98;
    background: conic-gradient(from 45deg, #CFFFE5, white, #CFFFE5);
    background: conic-gradient(#CFFFE5, #98ff98 45deg, #80FF80 225deg, #CFFFE5); */
}

.shopping-cart {
    /* border: 1xp solid cyan; */
    height: 60vh;
    min-height: 35vh;
    padding: 2%;
    overflow: auto;
}

#cart-name {
    margin-bottom: 3%;
    text-shadow: 0 1px 2px black;
}

.cart-items {
    width: 72%;
    float: left;
    margin-bottom: 1.5%;
}

table {
    width: 100% !important;
}

.item-row {
    width: 510px !important;
    height: 10vh !important;
    border-bottom: 1px solid lightgrey;
}

.item-name {
    width: 35%;
    font-size: 1.5em;
    text-align: left;
}

.item-instructions {
    width: 25% !important;
    overflow: auto;
    text-align: left;
}

.item-cost {
    text-align: left;
    /* font-weight: ; */
    width: 12%;
}

.item-quantity {
    width: 10%;
}

.options {
    margin-top: 23%;
    width: auto !important;
    float: left;
}

.options a {
    color: whitesmoke;
}

.options a:active {
    color: whitesmoke;
}

.cart-total {
    width: 25%;
    top: 6.5%;
    float: right;
    text-shadow: 0 1px 2px black;
    padding: 1.5%;
    position: -webkit-sticky;
    position: sticky;
}

.amount {
    float: right;
}

#checkout-btn { 
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.cart-btn {
    color: white;
    margin-right: 3%;
    text-decoration: underline;
}

.cart-btn:active {
    color: white;
}

.btn-shadow {
    box-shadow: 0 1px 2px black;
}

.proceed-btn {
    cursor: pointer;
    font-size: 16px;

    border-color: transparent;
    border-radius: 6px;
}
 
.proceed-btn {
    margin-bottom: 10px;
    /* background: #7dc855; */
    background: #6E9900;
}