<html>
<body>
<app-customer-nav-bar></app-customer-nav-bar>
<br>
<br>
<br>
<br>
<div class="container checkout">
  <br>
  <h1 id="pageheader">Customer Checkout</h1>
  <div class="floatLeft">
        
        <form>
            <div class="form-group">
              <label for="couponCode">Coupon Code</label>
              <input type="text" [(ngModel)] = "coupon" (ngModelChange)='newCoupon($event)' name = "coupon" class="form-control" id="couponCode" placeholder="Enter coupon code">
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" (ngModelChange)='newDistr($event)' name="distributionOptions" id="deliveryOption" [value]=1  [(ngModel)]="distr" checked>
              <label class="form-check-label" for="deliveryOption">Delivery</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" (ngModelChange)='newDistr($event)' name="distributionOptions" id="pickupOption" [value]=2  [(ngModel)]="distr">
              <label class="form-check-label" for="pickupOption">Pickup</label>
            </div>
            <br>
            <br>
            <div class="form-group">
              <label for="deliveryTip" *ngIf="isVisible">Delivery Tip</label>
              <input type="number" *ngIf="isVisible" [(ngModel)] = "deltip" (ngModelChange)='newTip($event)' name = "delTip" class="form-control" id="deliveryTip" placeholder="Enter delivery tip">
            </div>
            <button id="submitorder" type="submit" class="proceed-btn" (click)="submitorder()">Proceed to Payment</button>
            <br>
            <br>
            <button id="backtocart" type="submit" class="proceed-btn" (click)="backtocart()">Go Back to Cart</button>
          </form>
    </div>
    
    <div class="floatRight">
        <table class="mytable">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td class="col1">Subtoal</td>
                <td id = "subtotal" class="col2">{{subtotal | currency}}</td>
              </tr>
              <tr>
                <td class="col1">Coupon Discount</td>
                <td id = "discount" class="col2">{{couponDiscount | currency}}</td>
              </tr>
              <tr>
                <td class="col1">Tax</td>
                <td id = "tax" class="col2">{{tax | currency}}</td>
              </tr>
              <tr>
                <td class="col1">Delivery Tip</td>
                <td id = "tip" class="col2">{{deliveryTip | currency}}</td>
              </tr>
              <tr>
                <td class="col1">Total</td>
                <td id = "total" class="col2">{{total | currency}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</body>
</html>