<body>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container verification">
    <br>
    <table class="mytable">
        <thead>
            <h4 id="pageheader">Customer Order Received</h4>
        </thead>
        <tbody>
            <tr>
                <td class="col1">Customer</td>
                <td id="customer" class="col2">{{custname}}</td>
            </tr>
            <tr>
                <td class="col1">Order Type</td>
                <td id="distribution" class="col2">{{distributionMethod}}</td>
            </tr>
            <br>
            <tr>
                <td id="message1" colspan="2">{{message1}}</td>
            </tr>
            <tr>
                <td id="message2" colspan="2">{{message2}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <button id="submit" (click)='backtohome()' type="submit" class="proceed-btn">Close</button>
    <br>
    <br>
</div>
</body>