<body>
<app-customer-nav-bar></app-customer-nav-bar>
<br>
<br>
<br>
<br>

<h1 id="pageheader">Customer Payment Processing</h1>
<form class="credit-card">
    <div class="form-header">
      <h4 id="total" class="title">Your Total: {{total | currency}}</h4>
    </div>
   
    <div class="form-body">
      <input id="ccname" type="text" [(ngModel)] = "creditcardname" name = "creditcardname" class="card-number" placeholder="Name on Card">
      <input id="ccnum" type="text" [(ngModel)] = "creditcardnumber" name = "creditcardnumber" class="card-number" placeholder="Card Number">
   
      <div class="date-field">
        <div class="month">
          <input id="ccmonth" class = "month" type="text" [(ngModel)] = "creditcardmonth" name = "creditcardmonth" class="card-number" placeholder="Expiration Month">
        </div>
        <div class="year">
          <input id="ccyear" class = "year" type="text" [(ngModel)] = "creditcardyear" name = "creditcardyear" class="card-number" placeholder="Expiration Year">
        </div>
      </div>
   
      <div class="card-verification">
        <div class="cvv-input">
          <input id="cccode" type="text" [(ngModel)] = "creditcardcode" name = "creditcardcode" placeholder="CVV">
        </div>
        <div class="cvv-details">
          <p>3 or 4 digits usually found <br> on the signature strip</p>
        </div>
      </div>
   
      <div class="form-check">
        <input id="usesaved" class="form-check-input" type="checkbox" value="" (change)="eventCheck($event)">
        <label class="form-check-label" for="defaultCheck1">
          Use Saved Credit Card Information
        </label>
      </div>
      <br>
      <button id="submit" (click)='processpayment()' type="submit" class="proceed-btn">Process Payment</button>
      <button id="backtocheckout" (click)='backtocheckout()' type="submit" class="proceed-btn">Back to Checkout</button>

      <br>
      <p id="message">{{message}}</p>

    </div>
  </form>
</body>