<div class="resetPage">
    <form class="form-position" (ngSubmit)="forgetPassword()" >
        <small id="message" class="txt-danger">{{badMsg}}</small>
        <label id="pageheader" class="Greetings"><h2>Forget Password</h2></label>
        <br>
        <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" required placeholder="Enter a registered email" id="email" name="email" [(ngModel)]="userEmail" #email="ngModel">
        <br>
        <div *ngIf="email.errors?.required && email.touched" class="text-danger">
            Email required for recovery
        </div>
        <br>
        <input type="text" class="form-control" required placeholder="Enter user first name" id="firstName" name="firstName" [(ngModel)]="userFirstName" #firstName="ngModel">
        <div *ngIf="firstName.errors?.required && firstName.touched" class="text-danger">
            First name is required for recovery
        </div>
        <br>
        <input type="text" class="form-control" required placeholder="Enter user last name" id="lastName" name="lastName" [(ngModel)]="userLastName" #lastName="ngModel">
        <div *ngIf="lastName.errors?.required && lastName.touched" class="text-danger">
            Last name is required for recovery
        </div>
        </div>
        <br>
        <br>
        <div>
            <button id="submit" type="submit" class="btn btn-primary" style="background-color: #6E9900; border-color: #81CA29; color: #A8E607">Send Link</button>
            <br>
            <br>
            <a id="backtologin" (click)="goLogin()" class="btn btn-warning">Back to Login</a>
            <!-- <a id="backtologin" (click)="goLogin()" class="btn btn-warning" href="/login">Back to Login</a> -->
        </div>
    </form>
</div>