.resetPage{
    background-image: url("https://projectcafeflora.s3.us-east-2.amazonaws.com/images/Background.jpg");
    min-height: 937px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
}

.form-position{
    background-color: #C26AE6;
    box-shadow: #AF88BF;
    padding: 20px;
    margin:20px;
    position: absolute;
    right: 40%;
    bottom: 35%;
    left: 40%;
}