<body>
<app-customer-nav-bar></app-customer-nav-bar>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="carouselExampleIndicators" class="carousel slide mycarousel container" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block setsize" src="https://projectcafeflora.s3.us-east-2.amazonaws.com/images/cafe1.jpg" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img class="d-block setsize" src="https://projectcafeflora.s3.us-east-2.amazonaws.com/images/cheeseburgerFULL.jpg" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img class="d-block setsize" src="https://projectcafeflora.s3.us-east-2.amazonaws.com/images/cafe2.jpg" alt="Slide 3">
    </div>
    <div class="carousel-item">
      <img class="d-block setsize" src="https://projectcafeflora.s3.us-east-2.amazonaws.com/images/chefsalidFULL.jpg" alt="Slide 6">
    </div>
    <div class="carousel-item">
      <img class="d-block setsize" src="https://projectcafeflora.s3.us-east-2.amazonaws.com/images/flowershop2.jpg" alt="Slide 4">
    </div>
    <div class="carousel-item">
      <img class="d-block setsize" src="https://projectcafeflora.s3.us-east-2.amazonaws.com/images/clubsandwichFULL.png" alt="Slide 7">
    </div>
    <div class="carousel-item">
      <img class="d-block setsize" src="https://projectcafeflora.s3.us-east-2.amazonaws.com/images/menu2.jpg" alt="Slide 5">
    </div>
    <div class="carousel-item">
      <img class="d-block setsize" src="https://projectcafeflora.s3.us-east-2.amazonaws.com/images/meatloafFULL.jpg" alt="Slide 8">
    </div>
    <div class="carousel-item">
      <img class="d-block setsize" src="https://projectcafeflora.s3.us-east-2.amazonaws.com/images/OmletteFULL.jpg" alt="Slide 9">
    </div>
    <div class="carousel-item">
      <img class="d-block setsize" src="https://projectcafeflora.s3.us-east-2.amazonaws.com/images/PancakesFULL.jpg" alt="Slide 10">
    </div>


  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<app-footer></app-footer>
</body>