body {
    /* background-color: #98ff98; */
    background-color: #AF88BF;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 1000px;
}

.mycarousel {
    align-content: center;
    padding-left: 225px;
}

.setsize {
    width: 680px;
    height: 510px;
}

.navbar {
    background-color: #98ff98;
}